html {
    scroll-behavior: smooth;
}
.bg-menu {
    position: fixed;
    visibility: visible;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(113, 113, 113, 0.25);
    z-index: 1;
    transition: visibility 0.3s ease-in-out;
}

.hidden-bg {
    visibility: hidden;
}
.hamb-menu {
    position: absolute;
    right: 0;
    width: 380px;
    height: 300px;
    background-color: #EDF2EC;
    z-index: 2;
    transition: width 0.3s ease-in-out;
}
.hidden-menu {
    width: 0px;
}
/* .hamb-list {
    margin-left: 50px;
} */
.hamb-item:not(:first-child) {
    margin-left: 70px;
}
.hamb-item:first-child {
    margin-top: 40px;
    margin-left: 48px;
}

.hamb-list .nav-link {
    line-height: 40px;
}

.hidden-list {
    width: 0px;
    display: none;
}
/* header css start*/
.header {
    display: flex;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: #EDF2EC;
    justify-content: center;
    align-items: center;
    min-height: 134px;
    padding-right: 30px;
    padding-left: 30px;
}

.hamb-container {
    display: none;
    position: relative;
    width: 40px;
    /* flex-direction: column; */
    z-index: 3;

}

.hamb-line {
    height: 2px;
    width: 40px;
    background-color: #717171;
    transition: .5s ease-in-out;
}

.hamb-line__child1 {
    transform: translate(0, 14px) rotate(45deg);
}

.hamb-line__child2 {
    transform: translate(-100px);
    opacity: 0;
}

.hamb-line__child3 {
    transform: translate(100px);
    opacity: 0;
}
.hamb-line__child4 {
    transform: translate(0, -10px) rotate(-45deg);
}
.logo {
    margin-top: 8px;
}
.logo::before {
    content: url('./assets/img/logo_vector.svg');
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 50px;
    /* width: 1220px; */
    width: 1220px;
    /* margin: 42px 109px; */
}

.nav-link {
    position: relative;
    color: #010201;
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

.nav-link.first {
    color: #E06733;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0; bottom: -5px;
	width: 0;
	height: 2px;
	background-color: #000;
}

.nav-link.first::before {
    background-color: #E06733;
}

.nav-link:hover::before {
    width: 100%;
}

.nav-link::before {
    transition: width 0.35s;
}

.navlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 452px;
    height: 50px;
}
.navitem:last-child {
    margin-right: 0px;
    
}
.navitem {
    margin-right: 42px;
    color: #010201;
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}
/* header css finish*/
/*main css start*/

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
/*    display: flex;
    justify-content: center;*/
    max-width: 100%;
}
/*welcome css start*/
#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF2EC;
    min-height: 532px;
    padding-right: 30px;
    padding-left: 30px;
}

.container-welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1222px;
    min-height: 407.36px;
}

.leaf {
    width: 448.8px;
    height: 407.36px;
}

.title-welcome {
    display: flex;
    flex-direction: column;
    width: 549px;
    height: 340px;
    padding-top: 36px;
    padding-bottom: 31px;
}

.title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin-bottom: 44px;
}
.text-welcome {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 48px;
    color: #636060;
}
.green-text {
    color: #499A18;
}

.welcome-button {
    height: 44px;
    width: 158px;
    text-transform: uppercase;
    background-color: #EDF2EC;
    border-radius: 10px;
    border-color: #E06733;
    border-width: 2px;
    border-style: solid;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.welcome-button:hover {
    color: #fff;
    background-color: #E06733;
    transition: 0.3s;
}
/*welcome css finish*/

.text {
    color: #636060;
}

/*about css start*/

#about {
    min-height: 666px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.container-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1222px;
    min-height: 479px;
}

.houseplant {
    width: 464px;
    height: 479px;
}
.title-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 605px;
    height: 350px;
    margin-top: 68px;

}
.h2-about {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-bottom: 38px;
}

.text-about {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.orange-text {
    color: #E06733;
}
/*about css finish*/
/*service css start*/
#service {
    background-color: #EDF2EC;
    min-height: 1269px;
    padding-top: 31px;
    display: flex;
    /*width: 100%;*/
    /* justify-content: center; */
    flex-direction: column;
    /*align-items: center; */
    padding-left: 30px;
    padding-right: 30px;
}

.service-content {
    /* display: grid;
    grid-template-columns: 306px 142px 559px; */
    max-width: 1007px;
    margin-left: 79px;
    align-items: center;
    grid-template-areas: "h2 . btns";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 294px;*/
    
    
    min-height: 94px;
} 

.h2-service {
    color: #499A18;
    /* grid-area: h2; */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    width: 306px;
    margin-top: 8px;
}

.serv-btns {
    /* grid-area:btns; */
    height: 50px;
    flex-basis: 560px;
    /* width: 560px; */
    display: flex;
    justify-content: space-between;
    margin-top: 14px;

}
.service-btn {
    border-radius: 5px;
    height: 50px;
    width: 161px;
    background-color: #EDF2EC;
    color: #E06733;
    border-color: #E06733;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.service-btn:hover {
    background-color: #f4cbba;
    transition: 0.3s;
}

.service-btn__active {
    background: #E06733;
    color: #fff;
}

.services {
    display: flex;
    justify-self: center;
    align-self: center;
    min-height: 955px;
    max-width: 1222px;
    flex-wrap: wrap;
    /*margin-left: auto;
    margin-right: auto;*/
    align-content: space-between;
    justify-content: space-between;
    margin-top: 80px;
}
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 448px;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
    transition:0.3s
}

.service-blur {
    filter: blur(2px);
}

.service-pic{
    object-fit: cover;
    min-width: 329px;
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
}

.service-title {
    color: #E06733;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 13px;
}

.service-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}
/*service css finish*/
/*prices css start*/
#prices {
    height: 520px;
    padding-top: 39px;
    padding-left: 109px;
    padding-right: 109px;
    display: flex;    
    justify-content: space-between;
}

.h2-price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 60px;
}

.price-type {
    width: 332px;
    height: 391px;
}
.price-types {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    min-height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
    align-items: center;
    gap:32px;
}

.price {
    display: flex;
    flex-direction: column;
    /* max-height: 150px; */
    border-radius: 20px;
    background-color: #EDF2EC;
    transition: background-color 0.3s;
}

.price__active {
    background-color: #D6E7D2;
}

.price-title {
    display: flex;
    width: 170px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;   
    padding-right: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    transition: 0.3s;
    cursor: pointer;
}

.price-title__active {
    height: 46px;
}

.price-title img {
    transition: 0.3s;
}

.accordion_btn {
    fill: #AEA1A1;
    stroke: #fff;
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}

.price-block {
    width: 170px;
    transition: 0.3s;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    height: 0;
}

.price-block__active {
    height: 108px;
}

.price-border {
    border-top: 0.5px solid #AEA1A1;
}

.price-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 6px;
    margin-top: 6px;
    color: #717171;
}

.price-text__hidden {
    display: none;
}

.price-count {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 12px;
}

.price-count__hidden {
    display: none;
}

.price-text__orange {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #E06733;
}

.order-btn {
    width: 86px;
    height: 25px;
    background-color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.order-btn:hover {
    background-color: #f4cbba;
}

.order-btn__hidden {
    display: none;
}

.call-us-wrap {
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.h3-call-us {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000;
    margin-bottom: 40px;
}

.contact-btn {
    border-radius: 5px;
    height: 50px;
    width: 161px;
    background-color: #fff;
    color: #E06733;
    border-color: #E06733;
    border-style: solid;
    border-width: 1px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 39px;
}

.contact-btn:hover {
    background-color: #E06733;
    transition: 0.3s;
    color: #fff;
}

.leafs-prices {
    width: 152px;
    height: 175px;
}
/*prices css finish*/
/*contacts css start*/
#contacts {
    min-height: 490px;
    padding: 60px 109px 0px 109px;
    background-color: #EDF2EC;
    /* display: flex; */
    /* justify-content: space-around; */
    align-items: center;
    /* flex-direction: column;*/
    position: relative;
    text-align: center;
}
.container-contacts {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    margin-top: 35px;
}

.contact-pic {
    position: absolute;
    max-width: 400px;
    max-height: 497px;
    /* position: absolute; */
    left: 109px;
    bottom: 0px;
    order: 1;
    /* margin-top: 53px; */
    z-index: 1;
}
.h2-contacts {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    display: inline;
    position: relative;
    z-index: 100;
    /* margin-top: 60px; */
    /* margin-left: 45px; */
}
.address-container {
    display: flex;
    /* max-width: 450px; */
    flex-direction: column;
    /* margin-top: 148px; */
    order: 2;
    z-index: 100;
    position: relative;
    flex-basis: 450px;
}
.address-select {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    text-indent: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.address-select__active {
    background: #C1E698;
    box-shadow: none;
}

.address-select__chosen {
    background: #C1E698;
}

.select-pic {
    margin-right: 35px;
    transition: 0.2s ease-in-out;
}

.select-pic__active {
    transform: rotate(180deg);
}

.address-selector {
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    width: 100%;
    background: #D6E7D2;
    height: 0;
    transition: 0.2s ease-in-out;
    padding: 0 50px 0 20px;
    overflow: hidden;
}

.address-selector__active {
    height: 234px;
    padding: 27px 50px 31px 20px;

}

.address-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #499A18;
    transition: color 0.1s ;
    text-align: left;
    border-bottom: #D9D9D9 solid 1px;
    text-indent: 6px;
    cursor: pointer;
}

.address-item:not(:first-child) {
    margin-top: 17px;
}

.div-select-item {
    width: 450px;
    height: 100px;
}

.address-item:hover {
    color: #717171;
    border-bottom: #717171 solid 1px;
}

.address {
    display: none;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 164px;
    margin-top: 47px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 41px 0 32px 0;
    background-color: #EDF2EC;
    flex-direction:column;
}

.address-wrap {
    margin-left: 33px;
    width: calc(100% - 33px);
}

.text-line {
    display: flex;
    width: 100%;
}

.text-line:not(:first-child) {
    margin-top: 24px;
}

.address__active {
    display: flex;
}

.contacts-type {
    flex-basis: 133px;
    text-align: left;
    /* flex-shrink: 0; */
}

.cont-type-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #000;
}

.contacts-text {
    flex-basis: 206px;
}

.cont-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #717171;
    text-align: left;
}

.call-us-btn {
    border: 1px solid #E06733;
    background: #EDF2EC;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 126px;
    height: 26px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #717171;
    transition: color 0.3s;
    margin-top: 41px;
}

.call-us-btn:hover {
    background: #E06733;
    color: #fff;
}
/*contacts css finish*/
/*footer css start*/
.footer {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.container-footer {
    height: 50px;
    width: 1222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 169px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.right-side {
    width: 188px;
    display: flex;
    justify-content: space-between;
}

.footer-link {
    text-decoration: none;
    
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-link:visited {
    color: #000;
}
/*footer css finish*/

/*768px media*/
@media (max-width: 768px) {
    .header {
        min-height: 117px;
        width: calc(100% - 50px);
        padding: 0 25px;
    }

    .navbar {
        width: 668px;
        height: 47px;
        /* margin: 35px 50px; */
        align-items: center;
    }
    .logo {
        margin-top: -5px;
    }

    .navlist {
        height: 47px;
        /* margin-left: 139px; */
        width: 452px;
    }

    .container {
        max-width: 100%;
    }
    #welcome {
        padding: 40px 50px 0px 50px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 380px;
    }
    .container-welcome {
        width: 668px;
        /* margin: 40px 50px 0px 50px; */
        flex-direction: row-reverse;
        min-height: 310px;
        /* justify-content: center; */
    }
    .title-welcome {
        height: 310px;
        width: 346px;
        padding-top: 0px;
    }
    .title-about {
        min-height: 350px;
        height: auto;
    }
    .title {
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 31px;
    }
    .text-welcome {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 36px;
    }
    .leaf {
        max-width: 280px;
        max-height: 254.15px;
    }

    #about {
        padding: 0px 20px 0px 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 783px;
    }

    .container-about {
        flex-direction: column;
        align-content: center;
        max-width: 668px;
        align-items: center;
    }
    .title-about {
        margin-top: 40px;
        align-items: center;
        max-width: 668px;
        justify-content: flex-start;
    }

    .h2-about {
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 49px;
    }

    .houseplant {
        max-width: 250px;
        max-height: 258px;
        margin-top: 40px;
    }
    #service {
        padding: 0px 20px 0px 20px;
        min-height: 1780px;
    }
    .service-content {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: auto;
    }
    .h2-service {
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        margin-top: 9px;
    }
    .serv-btns {
        margin-top: 43px;
        flex-wrap: wrap;
    }
    .services {
        max-width: 668px;
        margin-top: 40px;
        min-height: 1426px;
    }
    .service {
        max-width: 281px;
        max-height: 450px;
    }
    .service-pic {
        max-width: 280px;
        max-height: 350px;
        min-width: auto;
    }
    .service-title {
        margin-bottom: 8px;
    }
    .service-text {
        max-width: 201px;
        text-align: center;
    }
    #prices {
        min-height: 585px;
        height: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .price-type {

        margin-top: 40px;
    }
    .h2-price {
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 42px;
        margin-left: 15px;    
        margin-bottom: 57px;
    }
    .h3-call-us {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 28px;
    }
    .call-us-wrap {
        max-width: 296px;
        margin-top: 140px;
        margin-left: 42px;
    }
    .contact-btn {
        margin-bottom: 30px;
    }
    #contacts {
        display: flex;
        min-height: 699px;
        flex-direction: column;
        align-items: center;
        padding: unset;
        padding-top: 40px;
        position: relative;

    }
    /* .h2-contacts {
        /* order: 1;
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 81px; 
    } */

    .address-container {
        flex-basis: 450px;
    }

    .container-contacts {
        /* flex-direction: column-reverse; */
        justify-content: center;
        align-items: center;
        margin-top: 99px;
        transition: margin-top 0.2s;
        
    }

    .container-contacts__768active {
        margin-top: 61px;
    }
    /* .address-select {
        margin: 0;
        order: 2; 
    } */
    .contact-pic {
        max-width: 200px;
        bottom: 0;
        left: calc(50% - 90px);
        position: absolute;
    }
    .address {
        position:initial;
        order: 3;
        border: 1px solid #000;
        margin-top: 61px;
        padding: 28px 0;
        justify-content: flex-start;
    }

    .call-us-btn {
        margin-top: 31px;
    }

    .footer {
        height: 181px;
        padding-left: 0;
        padding-right: 0;
    }
    .container-footer {
        flex-direction: column;
        min-height: 130px;
        height: unset;
        justify-content: flex-start;
    }
    .left-side {
        margin-top: 6px;
        margin-bottom: 18px;
    }
    .footer-text {
        line-height: 24px;
    }
    .right-side {
        margin-top: 25px;
    }
}

@media (max-width: 650px) {
    .navlist {
        display: none;
    }
    .hamb-container {
        display: flex;
        max-height: 34px;
        min-height: 32px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2px;
    }
}

@media (max-width: 380px) {
    .header {
        min-height: 96px;
        padding: 0px 25px 0px 25px;
        width: calc(100% - 50px);
    }

    .logo {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        margin-top: 0;
    }
    .navlist {
        display: none;
    }
    #welcome {
        padding: 0;
        justify-content: center;
        align-items: center;
        min-height: 300px;
    }
    .container-welcome {
        flex-direction: inherit;
        justify-content: center;
        align-items: center;
        min-height: 252px;
        /* max-width: 330px; */
        width: 100%;
    }
    .leaf {
        display: none;
    }
    .title-welcome {
        padding: 0;
        height: 250px;
        justify-content: space-between;
    }
    .title {
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        margin: 0;
    }
    .text-welcome {
        margin: 0;
    }
    .welcome-button {
        width: 100px;
        height: 34.14px;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
    }
    #about {
        min-height:516px;
        padding:0;   
        justify-content: center;
        align-items: center;
    }
    .container-about {
        max-width: 330px;
        max-height: 455px;
        min-height: auto;
        flex-wrap: nowrap;
    }
    .title-about {
        margin:0;
        height: auto;
        min-height: auto;
    }
    .h2-about {
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 13px;
    }
    .text-about {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }
    .houseplant {
        width: 150px;
        height: 147px;
        margin: 0;
    }
    #service {
        height: 3150px;
    }
    .service-content {
        margin-top: 20px;
        margin-left: 5px;
    }
    .h2-service {
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        max-width: 200px;
    }
    .serv-btns {
        justify-content: flex-start;
        gap: 10px;
        margin-top: 40px;
    }
    .service-btn {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        width: 121px;
        height: 35px;
    }
    .services {
        margin-top: 67px;
        flex-direction: column;
        justify-content: space-between;    
        min-height: 2870px;
    }
    .service-title {
        margin-bottom: 10px;
    }
    #prices {
        min-height: 512px;
    }
    .price-type {
        text-align: center;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .h2-price {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin-left: 0;
        margin-bottom: 37px;
    }
    .price-types {
        max-width: 222px;
        flex-basis: 177px;
        padding-top: 29px;
        padding-bottom: 27px;
        justify-content: space-between;
        width: 224px;
        min-height: auto;
        gap:15px;
    }
    .price {
        padding-left: 30px;
        padding-right: 40px;
        max-width: 110px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
    }

    .price-title {
        padding-left: 0;
        padding-right: 0;
        max-width: 110px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
    }

    .price-block {
        padding-left: 0;
        padding-right: 0;
        width: 120px;
    }
    
    .price-block__active {
        height: 130px;
    }

    .call-us-wrap {
        margin: 0;
        margin-top: 10px;
        align-items: center;
    }
    .h3-call-us {
        font-weight: 700;
        font-size: 20px;
        line-height: 35px; 
        text-align: center;
        max-width: 230px;
        margin-bottom: 20px;
    }
    .contact-btn {
        width: 121px;
        height: 35px;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
    }
    .leafs-prices {
        display: none;
    }
    #contacts {
        padding: 0;
        /* max-height: 445px; */
        min-height: 445px;
    }
    .h2-contacts {
        font-weight: 700;
        font-size: 25px;
        line-height: 33px;
        margin-top: 25px;
    }
    .container-contacts {
        margin-top: 80px;
        justify-content: center;
    }
    .container-contacts__768active {
        margin-top: 49px;
    }
    .address {
        margin-top: 49px;
    }
    .address-container {
        flex-basis: 300px;
        align-items: center;
    }

    .address-selector {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .address-select {
        width: 300px;
        /* background-position: calc(100% - 22px); */
    }
    .select-pic {
        margin-right: 22px;
    }

    .address {
        padding: 23px 0;
        width: calc(100% - 18px);
        /* width: calc(100% - 72px); */
    }

    .text-line:not(:first-child) {
        margin-top: 17px;
    }

    .address-wrap {
        margin-left: 17px;
    }

    .contacts-type {

    }
    .contact-pic {
        width: 100px;
        bottom: 0;
        left: calc(50% - 50px);
    }


    .footer {
        height: 146px;
    }
    .left-side {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .right-side {
        margin-top: 12px;
    }
}