/* header css start*/
.header {
    display: flex;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: #EDF2EC;
    justify-content: center;
    align-items: center;
    height: 134px;
}

.logo {
    margin-top: 8px;
}
.logo::before {
    content: url('./assets/img/logo_vector.svg');
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 1220px;
}

.nav-link.first {
    color: #E06733;
}

.nav-link {
    color: #010201;
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

.navlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 452px;
    height: 50px;
}
.navitem:last-child {
    margin-right: 0px;
}
.navitem {
    margin-right: 42px;
}
/* header css finish*/
/*main css start*/

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
/*    display: flex;
    justify-content: center;*/
    max-width: 100%;
}
/*welcome css start*/
#welcome {
    background-color: #EDF2EC;
    height: 408px;
    padding: 62px 109px;
}

.container-welcome {
    display: flex;
    justify-content: space-between;
    width: 1222px;
    height: 407.36px;
}

.leaf {
    width: 448.8px;
    height: 407.36px;
}

.title-welcome {
    display: flex;
    flex-direction: column;
    width: 549px;
    height: 340px;
    padding-top: 36px;
    padding-bottom: 31px;
}

.title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin-bottom: 44px;
}
.text-welcome {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 48px;
    color: #636060;
}
.green-text {
    color: #499A18;
}

.welcome-button {
    height: 44px;
    width: 158px;
    text-transform: uppercase;
    background-color: #EDF2EC;
    border-radius: 10px;
    border-color: #E06733;
    border-width: 2px;
    border-style: solid;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}
/*welcome css finish*/

.text {
    color: #636060;
}

/*about css start*/

#about {
    max-height: 666px;
    padding: 93px 109px 94px;
}

.container-about {
    display: flex;

    justify-content: space-between;
    width: 1222px;
    height: 479px;
}

.houseplant {
    width: 464px;
    height: 479px;
}
.title-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 605px;
    height: 350px;
    margin-top: 68px;

}
.h2-about {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-bottom: 40px;
}

.text-about {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.orange-text {
    color: #E06733;
}
/*about css finish*/
/*service css start*/
#service {
    background-color: #EDF2EC;
    height: 1260px;
    padding-top: 40px;
}

.service-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: 109px;
    width: 1007px;
    height: 94px;
    padding-top: 5px;
}

.h2-service {
    color: #499A18;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    width: 306px;
}

.serv-btns {
    height: 50px;
    width: 559px;
    display: flex;
    justify-content: space-between;
}
.service-btn {
    border-radius: 5px;
    height: 50px;
    width: 161px;
    background-color: #EDF2EC;
    color: #E06733;
    border-color: #E06733;
    border-style: solid;
    border-width: 1px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.services {
    height: 955px;
    width: 1222px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
}
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 329px;
    height: 449px;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
}

.service-title {
    color: #E06733;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}
/*service css finish*/
/*prices css start*/
#prices {
    height: 520px;
    padding-top: 40px;
    padding-left: 109px;
    padding-right: 109px;
    display: flex;    
    justify-content: space-between;
}

.h2-price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 60px;
}

.price-type {
    width: 332px;
    height: 391px;
}
.price-types {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
    align-items: center;
}

.price {
    display: flex;
    width: 170px;
    height: 50px;
    background-color: #EDF2EC;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;   
    padding-right: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}

.call-us-wrap {
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.h3-call-us {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000;
    margin-bottom: 38px;
}

.contact-btn {
    border-radius: 5px;
    height: 50px;
    width: 161px;
    background-color: #fff;
    color: #E06733;
    border-color: #E06733;
    border-style: solid;
    border-width: 1px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 39px;
}

.leafs-prices {
    width: 152px;
    height: 175px;
}
/*prices css finish*/
/*contacts css start*/
#contacts {
    height: 550px;
    background-color: #EDF2EC;
    display: flex;
    flex-direction: row;
}
.contact-pic {
    position: absolute;
    width: 400px;
    height: 497px;
    margin-top: 53px;
    margin-left: 109px;
}
.h2-contacts {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-top: 60px;
    margin-left: 623px;
}

.address-select {
    width: 450px;
    height: 50px;
    margin-left: 64px;
    margin-top: 148px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    text-indent: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 1.2em;
    background-repeat: no-repeat;
    background-position: calc(100% - 35px);
    background-size: 0.85em auto;
    background-image: url("./assets/img/list_btn.png");
}
.address-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */
    letter-spacing: 0.05em;
    color: #717171;
}
/*contacts css finish*/
/*footer css start*/
.footer {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer {
    height: 50px;
    width: 1222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.right-side {
    width: 188px;
    display: flex;
    justify-content: space-between;
}

/*footer css finish*/