* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    background-color: #323b4c;
}
.nav {

}

.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
}

.top-exp-list{
    list-style: none;
    display: none;
}
.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #f5f5dc;
}
.nav-link,
.nav-link:active {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #f5f5dc
}
.nav-link:hover {
    color: #f5f5dc;
}
.main {
    margin-bottom: auto;
    margin-top: 10px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.photo-name {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 10px solid #b6d199;
    color: #fff;
    background-color: #323b4c;
    padding: 30px 30px 20px;
}
.title {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section {
    width: 50%;
    border-bottom: 1px solid #b6d199;
    padding: 0px 15px;

}
.cv-photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.row {
    display: flex;
    width: 100%;
}
.title-text {
    margin-bottom: 5px;
    color: #323b4c;
    text-transform: uppercase;
}
.list {
    list-style: none;
    padding-left: 0px;
}
h4 {
    margin: 0;
    padding-left: 0;
}
h3 {
    margin: 5px 0px;
}
p {
    margin: 3px 0px;
}
.experience {
    display: block;
    width: 100%;
    border-bottom: 1px solid #b6d199;
}
.duties-achievements {
    display: flex;
}
.exp-list {
    width: 49%;
    flex-wrap: wrap;
    padding-left: 15px;
}
.footer {
    background-color: #323b4c;
}