* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    background-color: #323b4c;
}
.nav {

}

.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
}

.exp-list{
    list-style: none;
    display: none;
}
.nav-item:hover {
    background-color: #4c515a;
}
.nav-link,
.nav-link:active {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #f5f5dc
}
.nav-link:hover {
    color: #f5f5dc;
}
.main {
    margin-bottom: auto;
    margin-top: 10px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.info {
    width: 40%;
    height: max-content;
    background-color: #323b4c;
    color: #fff;
    padding: auto auto;
}
.cv-photo {
    display: block;
    margin: 30px auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
#contacts {
    padding-left: 25%;
    font-size: 20px;
}
.experience {
    width: 60%;
}
